{{> head }}


{{> navbar }}

<div class="row">
    <div class="col-6">
        <h1>Node JS</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, ipsum molestias! Vel a veritatis eum nostrum
            praesentium, ullam eaque fugiat qui consectetur, et adipisci iste possimus! Accusamus delectus aliquid a?
        </p>
    </div>
    <div class="col-6">
        <img class="img-thumbnail" src="assets/img/node-logo.svg" alt="">
    </div>
</div>

{{> footer }}